@charset "UTF-8";

*{
    margin: 5px;
    padding: 0px;
}

.body{
    height: 300px;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}
label{
    width: 200px;
    display: inline-block;
}

h2{
    text-align: left;
    padding-bottom: 20px;
}


textarea{
    height: 100px;
    width: 350px;
}

.submit{
    padding-top: 10px;
    margin-left: 300px;
}

